@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Kelly+Slab&display=swap");
@import "tailwindcss";

body {
  background-color: #1e2025;
  font-family: "Kelly Slab", sans-serif;
  color: #fdfdfd;
  line-height: 22px;
}

.font-alumni {
  font-family: "Alumni Sans", sans-serif;
}

.font-kelly {
  font-family: "Kelly Slab", sans-serif;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
